#portrait {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px solid rgb(54, 20, 20);
    margin-top: 40px;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 550px;
    margin: 20px auto;
    border: 2px solid rgb(54, 20, 20);
    border-radius: 25px;
    background-color: antiquewhite;
}

.details {
    display: flex;
    gap: 20px;
}