#portrait {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px solid rgb(54, 20, 20);
    margin-top: 40px;
    position: absolute;
    top: 40px;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 550px;
    margin: 20px auto;
    border: 2px solid rgb(54, 20, 20);
    border-radius: 25px;
    background-color: antiquewhite;
    position: relative;
}

.block {
    width: inherit;
    height: 150px;
    background-color: rgb(54, 20, 20);
    position: absolute;
    top: 0;
    border-radius: 20px 20px 0 0;
}

.details {
    display: flex;
    gap: 20px;
}

.name {
    margin-top: 200px;
    font-size: 1.7em;
}